'.text.drupal':
  'h_archiver_info':
    'prefix': 'h_archiver_info'
    'body': '/**\n * Implements hook_archiver_info().\n */\nfunction $1_archiver_info() {\n  return array(\n    \'${1}\' => array(\n      \'class\' => \'${2}\',\n      \'extensions\' => array(\'${3}\'${4}),\n    ),\n  );\n}'