'.text.drupal':
  'h_archiver_info_alter':
    'prefix': 'h_archiver_info_alter'
    'body': '/**\n * Implements hook_archiver_info_alter().\n */\nfunction $1_archiver_info_alter(&\$info) {\n  \$info[\'${1}\'][\'${2}\'][] = \'${3}\';\n}'