'.text.drupal':
  'h_block_info_alter':
    'prefix': 'h_block_info_alter'
    'body': '/**\n * Implements hook_block_info_alter().\n */\nfunction $1_block_info_alter(&\$blocks, \$theme, \$code_blocks) {\n  ${1:/* Your code here */}\n}'