'.text.drupal':
  'h_block_save':
    'prefix': 'h_block_save'
    'body': '/**\n * Implements hook_block_save(\$delta = \'\', \$edit = array().\n */\nfunction $1_block_save(\$delta = \'\', \$edit = array()) {\n  ${1:/* Your code here */}\n}'