'.text.drupal':
  'h_dashboard_regions_alter':
    'prefix': 'h_dashboard_regions_alter'
    'body': '/**\n * Implements hook_dashboard_regions_alter().\n */\nfunction $1_dashboard_regions_alter(\$regions) {\n  ${1:/* Your code here */}\n}'