'.text.drupal':
  'h_date_format_types':
    'prefix': 'h_date_format_types'
    'body': '/**\n * Implements hook_date_format_types().\n */\nfunction $1_date_format_types() {\n  return array(\n    \'${1}\' => t(\'${2}\'),\n  );\n}'