'.text.drupal':
  'h_entity_info_alter':
    'prefix': 'h_entity_info_alter'
    'body': '/**\n * Implements hook_entity_info_alter().\n */\nfunction $1_entity_info_alter(&\$entity_info) {\n  ${1:/* Your code here */}\n}'