'.text.drupal':
  'h_field_storage_query':
    'prefix': 'h_field_storage_query'
    'body': '/**\n * Implements hook_field_storage_query().\n */\nfunction $1_field_storage_query(\$query) {\n  ${1:/* Your code here */}\n}'