'.text.drupal':
  'h_file_download_access_alter':
    'prefix': 'h_file_download_access_alter'
    'body': '/**\n * Implements hook_file_download_access_alter().\n */\nfunction $1_file_download_access_alter(&\$grants, \$field, \$entity_type, \$entity) {\n  ${1:/* Your code here */}\n}'