'.text.drupal':
  'h_field_storage_update_field':
    'prefix': 'h_field_storage_update_field'
    'body': '/**\n * Implements hook_field_storage_update_field().\n */\nfunction $1_field_storage_update_field(\$field, \$prior_field, \$has_data) {\n  if (!\$has_data) {\n    ${1:/* Your code here */}\n  }\n  else {\n    ${2:/* Your code here */}\n  }\n  drupal_get_schema(NULL, TRUE);\n}'