'.text.drupal':
  'h_field_storage_delete_instance':
    'prefix': 'h_field_storage_delete_instance'
    'body': '/**\n * Implements hook_field_storage_delete_instance().\n */\nfunction $1_field_storage_delete_instance(\$instance) {\n  ${1:/* Your code here */}\n}'