'.text.drupal':
  'h_field_access':
    'prefix': 'h_field_access'
    'body': '/**\n * Implements hook_field_access().\n */\nfunction $1_field_access(\$op, \$field, \$entity_type, \$entity, \$account) {\n  ${1:/* Your code here */}\n  return TRUE;\n}'