'.text.drupal':
  'h_field_schema':
    'prefix': 'h_field_schema'
    'body': '/**\n * Implements hook_field_schema().\n */\nfunction $1_field_schema(\$field) {\n  \$columns = array(\n    \'${1}\' => array(\n      \'type\' => \'${2}\',\n      \'length\' => ${3},\n      \'unsigned\' => ${4},\n      \'not null\' => ${5},\n    ),\n  );\n  \$columns = array(\n    \'${6}\' => array(\n      \'type\' => \'${7}\',\n      \'length\' => ${8},\n      \'unsigned\' => ${9},\n      \'not null\' => ${10},\n    ),\n  );\n  return array(\n    \'columns\' => \$columns,\n    \'indexes\' => array(\n      \'${11}\' => array(\'${12}\'),\n    ),\n  );\n}'