'.text.drupal':
  'h_field_update_field':
    'prefix': 'h_field_update_field'
    'body': '/**\n * Implements hook_field_update_field().\n */\nfunction $1_field_update_field(\$field, \$prior_field, \$has_data) {\n  ${1:/* Your code here */}\n}'