'.text.drupal':
  'h_field_create_field':
    'prefix': 'h_field_create_field'
    'body': '/**\n * Implements hook_field_create_field().\n */\nfunction $1_field_create_field(\$field) {\n  ${1:/* Your code here */}\n}'