'.text.drupal':
  'h_field_update_forbid':
    'prefix': 'h_field_update_forbid'
    'body': '/**\n * Implements hook_field_update_forbid().\n */\nfunction $1_field_update_forbid(\$field, \$prior_field, \$has_data) {\n  ${1:/* Your code here */}\n}'