'.text.drupal':
  'h_field_read_field':
    'prefix': 'h_field_read_field'
    'body': '/**\n * Implements hook_field_read_field().\n */\nfunction $1_field_read_field(&\$field) {\n  ${1:/* Your code here */}\n}'