'.text.drupal':
  'h_field_presave':
    'prefix': 'h_field_presave'
    'body': '/**\n * Implements hook_field_presave().\n */\nfunction $1_field_presave(\$entity_type, \$entity, \$field, \$instance, \$langcode, &\$items) {\n  if (\$field[\'type\'] == \'${1}\') {\n    foreach (\$items as \$delta => \$item) {\n      ${1:/* Your code here */}\n    }\n  }\n}'