'.text.drupal':
  'h_field_delete_revision':
    'prefix': 'h_field_delete_revision'
    'body': '/**\n * Implements hook_field_delete_revision().\n */\nfunction $1_field_delete_revision(\$entity_type, \$entity, \$field, \$instance, \$langcode, &\$items) {\n  foreach (\$items as \$delta => \$item) {\n    ${1:/* Your code here */}\n  }\n}'