'.text.drupal':
  'h_field_is_empty':
    'prefix': 'h_field_is_empty'
    'body': '/**\n * Implements hook_field_is_empty().\n */\nfunction $1_field_is_empty(\$item, \$field) {\n  ${1:/* Your code here */}\n}'