'.text.drupal':
  'h_field_purge_field_instance':
    'prefix': 'h_field_purge_field_instance'
    'body': '/**\n * Implements hook_field_purge_field_instance().\n */\nfunction $1_field_purge_field_instance(\$instance) {\n  db_delete(\'${1}\')\n    ->condition(\'id\', \$instance[\'id\'])\n    ->execute();\n}'