'.text.drupal':
  'h_image_styles_alter':
    'prefix': 'h_image_styles_alter'
    'body': '/**\n * Implements hook_image_styles_alter().\n */\nfunction $1_image_styles_alter(&\$styles) {\n  ${1:/* Your code here */}\n}'