'.text.drupal':
  'h_language_negotiation_info_alter':
    'prefix': 'h_language_negotiation_info_alter'
    'body': '/**\n * Implements hook_language_negotiation_info_alter().\n */\nfunction $1_language_negotiation_info_alter(array &\$language_providers) {\n  ${1:/* Your code here */}\n}'