'.text.drupal':
  'h_language_fallback_candidates_alter':
    'prefix': 'h_language_fallback_candidates_alter'
    'body': '/**\n * Implements hook_language_fallback_candidates_alter().\n */\nfunction $1_language_fallback_candidates_alter(array &\$fallback_candidates) {\n  ${1:/* Your code here */}\n}'