'.text.drupal':
  'h_multilingual_settings_changed':
    'prefix': 'h_multilingual_settings_changed'
    'body': '/**\n * Implements hook_multilingual_settings_changed().\n */\nfunction $1_multilingual_settings_changed() {\n  ${1:/* Your code here */}\n}'