'.text.drupal':
  'h_node_validate':
    'prefix': 'h_node_validate'
    'body': '/**\n * Implements hook_node_validate().\n */\nfunction $1_node_validate(\$node, \$form, &\$form_state) {\n  ${1:/* Your code here */}\n}'