'.text.drupal':
  'h_node_delete':
    'prefix': 'h_node_delete'
    'body': '/**\n * Implements hook_node_delete().\n */\nfunction $1_node_delete(\$node) {\n  db_delete(\'${1}\')\n    ->condition(\'nid\', \$node->nid)\n    ->execute();\n}'