'.text.drupal':
  'h_node_grants_alter':
    'prefix': 'h_node_grants_alter'
    'body': '/**\n * Implements hook_node_grants_alter().\n */\nfunction $1_node_grants_alter(&\$grants, \$account, \$op) {\n   ${1:/* Your code here */}\n}'