'.text.drupal':
  'h_search_execute':
    'prefix': 'h_search_execute'
    'body': '/**\n * Implements hook_search_execute().\n */\nfunction $1_search_execute(\$keys = NULL, \$conditions = NULL) {\n  ${1:/* Your code here */}\n}'