'.text.drupal':
  'h_system_info_alter':
    'prefix': 'h_system_info_alter'
    'body': '/**\n * Implements hook_system_info_alter().\n */\nfunction $1_system_info_alter(&\$info, \$file, \$type) {\n  ${1:/* Your code here */}\n}'