'.text.drupal':
  'h_taxonomy_term_update':
    'prefix': 'h_taxonomy_term_update'
    'body': '/**\n * Implements hook_taxonomy_term_update().\n */\nfunction $1_taxonomy_term_update(\$term) {\n  ${1:/* Your code here */}\n}'