'.text.drupal':
  'h_test_group_finished':
    'prefix': 'h_test_group_finished'
    'body': '/**\n * Implements hook_test_group_finished().\n */\nfunction $1_test_group_finished() {\n  ${1:/* Your code here */}\n}'