'.text.drupal':
  'h_themes_disabled':
    'prefix': 'h_themes_disabled'
    'body': '/**\n * Implements hook_themes_disabled().\n */\nfunction $1_themes_disabled(\$theme_list) {\n  ${1:/* Your code here */}\n}'