'.text.drupal':
  'h_update_status_alter':
    'prefix': 'h_update_status_alter'
    'body': '/**\n * Implements hook_update_status_alter().\n */\nfunction $1_update_status_alter(&\$projects) {\n  ${1:/* Your code here */}\n}'