'.text.drupal':
  'hook_comment_load':
    'prefix': 'hook_comment_load'
    'body': '/**\n * Implements hook_comment_load().\n */\nfunction $1_comment_load(\$comments) {\n  /*\n   *\$result = db_query(\'SELECT cid, foo FROM {mytable} WHERE cid IN (:cids)\', array(\':cids\' => array_keys(\$comments)));\n   *foreach (\$result as \$record) {\n   *  \$comments[\$record->cid]->foo = \$record->foo;\n   *}\n   */\n  ${1:/* Your code here */}\n}'