'.text.drupal':
  'hook_field_formatter_info_alter':
    'prefix': 'hook_field_formatter_info_alter'
    'body': '/**\n * Implements hook_field_formatter_info_alter().\n */\nfunction $1_field_formatter_info_alter(&\$info) {\n  // Add a setting to a formatter type.\n  /*\n   *\$info[\'text_default\'][\'settings\'] += array(\n   *  \'mymodule_additional_setting\' => \'default value\',\n   *);\n   */\n  // Let a new field type re-use an existing formatter.\n  /*\n   *\$info[\'text_default\'][\'field types\'][] = \'my_field_type\';\n   */\n  ${1:/* Your code here */}\n}'