'.text.drupal':
  'hook_field_attach_prepare_translation_alter':
    'prefix': 'hook_field_attach_prepare_translation_alter'
    'body': '/**\n * Implements hook_field_attach_prepare_translation_alter().\n */\nfunction $1_field_attach_prepare_translation_alter(&\$entity, \$context) {\n  /*\n   *if (\$context[\'entity_type\'] == \'custom_entity_type\') {\n   *  \$entity->custom_field = \$context[\'source_entity\']->custom_field;\n   *}\n   */\n  ${1:/* Your code here */}\n}'