'.text.drupal':
  'hook_field_storage_delete_revision':
    'prefix': 'hook_field_storage_delete_revision'
    'body': '/**\n * Implements hook_field_storage_delete_revision().\n */\nfunction $1_field_storage_delete_revision(\$entity_type, \$entity, \$fields) {\n  list(\$id, \$vid, \$bundle) = entity_extract_ids(\$entity_type, \$entity);\n  \$etid = _field_sql_storage_etid(\$entity_type);\n\n  if (isset(\$vid)) {\n    foreach (\$fields as \$field_id) {\n      /*\n       *\$field = field_info_field_by_id(\$field_id);\n       *\$revision_name = _field_sql_storage_revision_tablename(\$field);\n       *db_delete(\$revision_name)\n       *  ->condition(\'etid\', \$etid)\n       *  ->condition(\'entity_id\', \$id)\n       *  ->condition(\'revision_id\', \$vid)\n       *  ->execute();\n       */\n      ${1:/* Your code here */}\n    }\n  }\n}'