'.text.drupal':
  'hook_theme_registry_alter':
    'prefix': 'hook_theme_registry_alter'
    'body': '/**\n * Implements hook_theme_registry_alter().\n */\nfunction $1_theme_registry_alter(&\$theme_registry) {\n  // Kill the next/previous forum topic navigation links.\n  /*\n   *foreach (\$theme_registry[\'forum_topic_navigation\'][\'preprocess functions\'] as \$key => \$value) {\n   *  if (\$value = \'template_preprocess_forum_topic_navigation\') {\n   *    unset(\$theme_registry[\'forum_topic_navigation\'][\'preprocess functions\'][\$key]);\n   *  }\n   *}\n   */\n  ${1:/* Your code here */}\n}'