'.text.drupal':
  'hook_file_download':
    'prefix': 'hook_file_download'
    'body': '/**\n * Implements hook_file_download().\n */\nfunction $1_file_download(\$uri) {\n  // Check if the file is controlled by the current module.\n  /*\n   *if (!file_prepare_directory(\$uri)) {\n   *  \$uri = FALSE;\n   *}\n   *\$result = db_query("SELECT f.* FROM {file_managed} f INNER JOIN {upload} u ON f.fid = u.fid WHERE uri = :uri", array(\'uri\' => \$uri));\n   *foreach (\$result as \$file) {\n   *  if (!user_access(\'view uploaded files\')) {\n   *    return -1;\n   *  }\n   *  return array(\n   *    \'Content-Type\' => \$file->filemime,\n   *    \'Content-Length\' => \$file->filesize,\n   *  );\n   *}\n   */\n  ${1:/* Your code here */}\n}'