'.text.drupal':
  'hook_locale':
    'prefix': 'hook_locale'
    'body': '/**\n * Implements hook_locale().\n */\nfunction $1_locale(\$op = \'groups\') {\n  switch (\$op) {\n    case \'${1}\':\n      return array(\'${2}\' => t(\'${3}\'));\n  }\n}'