'.text.drupal':
  'hook_action_info_alter':
    'prefix': 'hook_action_info_alter'
    'body': '/**\n * Implements hook_action_info_alter().\n */\nfunction $1_action_info_alter(&\$actions) {\n  \$actions[\'${1}\'][\'${2}\'] = t(\'${3}\');\n}'