'.text.drupal':
  'hook_form_alter':
    'prefix': 'hook_form_alter'
    'body': '/**\n * Implements hook_form_alter().\n */\nfunction $1_form_alter(&\$form, &\$form_state, \$form_id) {\n  /*\n   *if (isset(\$form[\'type\']) && \$form[\'type\'][\'#value\'] . \'_node_settings\' == \$form_id) {\n   *  \$form[\'workflow\'][\'upload_\' . \$form[\'type\'][\'#value\']] = array(\n   *    \'#type\' => \'radios\',\n   *    \'#title\' => t(\'Attachments\'),\n   *    \'#default_value\' => variable_get(\'upload_\' . \$form[\'type\'][\'#value\'], 1),\n   *    \'#options\' => array(t(\'Disabled\'), t(\'Enabled\')),\n   * );\n   *}\n   */\n  \$form[\'${1}\']${2} = array(\n    \'#type\' => \'${3}\',\n    \'#title\' => t(\'${4}\'),\n    \'#default_value\' => \$settings[\'${5}\'],\n    \'#required\' => ${6},\n    \'#element_validate\' => array(\'${7}\'),\n    \'#description\' => t(\'${8}\'),${9}\n  );\n}'