'.text.drupal':
  'hook_shortcut_default_set':
    'prefix': 'hook_shortcut_default_set'
    'body': '/**\n * Implements hook_shortcut_default_set().\n */\nfunction $1_shortcut_default_set(\$account) {\n  // Use a special set of default shortcuts for administrators only.\n  /*\n   *if (in_array(variable_get(\'user_admin_role\', 0), \$account->roles)) {\n   *  return variable_get(\'mymodule_shortcut_admin_default_set\');\n   *}\n   */\n  ${1:/* Your code here */}\n}'