'.text.drupal':
  'hook_menu_delete':
    'prefix': 'hook_menu_delete'
    'body': '/**\n * Implements hook_menu_delete().\n */\nfunction $1_menu_delete(\$menu) {\n  // Delete the record from our variable.\n  /*\n   *\$my_menus = variable_get(\'my_module_menus\', array());\n   *unset(\$my_menus[\$menu[\'menu_name\']]);\n   *variable_set(\'my_module_menus\', \$my_menus);\n   */\n  ${1:/* Your code here */}\n}'