'.text.drupal':
  'hook_node_info':
    'prefix': 'hook_node_info'
    'body': '/**\n * Implements hook_node_info().\n */\nfunction $1_node_info() {\n  return array(\n    /*\n     *\'blog\' => array(\n     *  \'name\' => t(\'Blog entry\'),\n     *  \'base\' => \'blog\',\n     *  \'description\' => t(\'Use for multi-user blogs. Every user gets a personal blog.\'),\n     *)\n     */\n    \'${1}\' => array(\n      \'name\' => t(\'${2}\'),\n      \'base\' => \'${3}\',\n      \'description\' => t(\'${4}\'),\n    )\n  );\n}'