'.text.drupal':
  'hook_openid_discovery_method_info':
    'prefix': 'hook_openid_discovery_method_info'
    'body': '/**\n * Implements hook_openid_discovery_method_info().\n */\nfunction $1_openid_discovery_method_info() {\n  return array(\n    \'${1}\' => \'${2}\',\n  );\n}'