'.text.drupal':
  'hook_aggregator_process':
    'prefix': 'hook_aggregator_process'
    'body': '/**\n * Implements hook_aggregator_process().\n */\nfunction $1_aggregator_process(\$feed) {\n  /*\n   *foreach (\$feed->items as \$item) {\n   *  mymodule_save(\$item);\n   *}\n   */\n  ${1:/* Your code here */}\n}'