'.text.drupal':
  'hook_field_settings_form':
    'prefix': 'hook_field_settings_form'
    'body': '/**\n * Implements hook_field_settings_form().\n */\nfunction $1_field_settings_form(\$field, \$instance, \$has_data) {\n  /*\n   *\$settings = \$field[\'settings\'];\n   *\$form[\'max_length\'] = array(\n   *  \'#type\' => \'textfield\',\n   *  \'#title\' => t(\'Maximum length\'),\n   *  \'#default_value\' => \$settings[\'max_length\'],\n   *  \'#required\' => FALSE,\n   *  \'#element_validate\' => array(\'_element_validate_integer_positive\'),\n   *  \'#description\' => t(\'The maximum length of the field in characters. Leave blank for an unlimited size.\'),\n   *);\n   */\n  \$settings = \$field[\'settings\'];\n  \$form[\'${1}\']${2} = array(\n    \'#type\' => \'${3}\',\n    \'#title\' => t(\'${4}\'),\n    \'#default_value\' => \$settings[\'${5}\'],\n    \'#required\' => ${6},\n    \'#element_validate\' => array(\'${7}\'),\n    \'#description\' => t(\'${8}\'),${9}\n  );\n  return \$form;\n}'