'.text.drupal':
  'hook_test_finished':
    'prefix': 'hook_test_finished'
    'body': '/**\n * Implements hook_test_finished().\n */\nfunction $1_test_finished(\$results) {\n  ${1:/* Your code here */}\n}'