'.text.drupal':
  'hook_entity_prepare_view':
    'prefix': 'hook_entity_prepare_view'
    'body': '/**\n * Implements hook_entity_prepare_view().\n */\nfunction $1_entity_prepare_view(\$entities, \$type) {\n  // Load a specific node into the user object for later theming.\n  /*\n   *if (\$type == \'user\') {\n   *  \$nodes = mymodule_get_user_nodes(array_keys(\$entities));\n   *  foreach (\$entities as \$uid => \$entity) {\n   *    \$entity->user_node = \$nodes[\$uid];\n   *  }\n   *}\n   */\n  ${1:/* Your code here */}\n}'