'.text.drupal':
  'hook_field_storage_details_alter':
    'prefix': 'hook_field_storage_details_alter'
    'body': '/**\n * Implements hook_field_storage_details_alter().\n */\nfunction $1_field_storage_details_alter(&\$details, \$field) {\n  /*\n   *if (\$field[\'field_name\'] == \'field_of_interest\') {\n   *  \$columns = array();\n   *  foreach ((array) \$field[\'columns\'] as \$column_name => \$attributes) {\n   *    \$columns[\$column_name] = \$column_name;\n   *  }\n   *  \$details[\'drupal_variables\'] = array(\n   *    FIELD_LOAD_CURRENT => array(\n   *      \'moon\' => \$columns,\n   *    ),\n   *    FIELD_LOAD_REVISION => array(\n   *      \'mars\' => \$columns,\n   *    ),\n   *  );\n   *}\n   */\n  ${1:/* Your code here */}\n}'