'.text.drupal':
  'hook_themes_enabled':
    'prefix': 'hook_themes_enabled'
    'body': '/**\n * Implements hook_themes_enabled().\n */\nfunction $1_themes_enabled(\$theme_list) {\n  foreach (\$theme_list as \$theme) {\n    /*\n     *block_theme_initialize(\$theme);\n     */\n    ${1:/* Your code here */}\n  }\n}'