'.text.drupal':
  'hook_aggregator_fetch_info':
    'prefix': 'hook_aggregator_fetch_info'
    'body': '/**\n * Implements hook_aggregator_fetch_info().\n */\nfunction $1_aggregator_fetch_info() {\n  return array(\n    \'title\' => t(\'${1}\'),\n    \'description\' => t(\'${2}\'),\n  );\n}'