'.text.drupal':
  'hook_taxonomy_vocabulary_presave':
    'prefix': 'hook_taxonomy_vocabulary_presave'
    'body': '/**\n * Implements hook_taxonomy_vocabulary_presave().\n */\nfunction $1_taxonomy_vocabulary_presave(\$vocabulary) {\n  /*\n   *\$vocabulary->foo = \'bar\';\n   */\n  ${1:/* Your code here */}\n}'