'.text.drupal':
  'hook_token_info':
    'prefix': 'hook_token_info'
    'body': '/**\n * Implements hook_token_info().\n */\nfunction $1_token_info() {\n  /*\n   *\$type = array(\n   *  \'name\' => t(\'Nodes\'),\n   *  \'description\' => t(\'Tokens related to individual nodes.\'),\n   *  \'needs-data\' => \'node\',\n   *);\n   */\n  \$type = array(\n    \'name\' => t(\'${1}\'),\n    \'description\' => t(\'${2}\'),\n    \'needs-data\' => \'${3}\',\n  );\n\n  // Core tokens for nodes.\n  /*\n   *\$node[\'nid\'] = array(\n   *  \'name\' => t("Node ID"),\n   *  \'description\' => t("The unique ID of the node."),\n   *);\n   */\n  $${4}[\'${5}\'] = array(\n    \'name\' => t("${6}"),\n    \'description\' => t("${7}"),\n  );\n\n  /*\n   *return array(\n   *  \'types\' => array(\'node\' => \$type),\n   *  \'tokens\' => array(\'node\' => \$node),\n   *);\n   */\n  return array(\n    \'types\' => array(\'${8}\' => \$type),\n    \'tokens\' => array(\'${9}\' => $${10}),\n  );\n}'