'.text.drupal':
  'hook_field_storage_update_field':
    'prefix': 'hook_field_storage_update_field'
    'body': '/**\n * Implements hook_field_storage_update_field().\n */\nfunction $1_field_storage_update_field(\$field, \$prior_field, \$has_data) {\n  if (!\$has_data) {\n    // There is no data. Re-create the tables completely.\n    /*\n     *\$prior_schema = _field_sql_storage_schema(\$prior_field);\n     *foreach (\$prior_schema as \$name => \$table) {\n     *  db_drop_table(\$name, \$table);\n     *}\n     *\$schema = _field_sql_storage_schema(\$field);\n     *foreach (\$schema as \$name => \$table) {\n     *  db_create_table(\$name, \$table);\n     *}\n     */\n    ${1:/* Your code here */}\n  }\n  else {\n    // There is data. See field_sql_storage_field_storage_update_field() for\n    // an example of what to do to modify the schema in place, preserving the\n    // old data as much as possible.\n    ${2:/* Your code here */}\n  }\n  drupal_get_schema(NULL, TRUE);\n}'