'.text.drupal':
  'hook_date_format_types_alter':
    'prefix': 'hook_date_format_types_alter'
    'body': '/**\n * Implements hook_date_format_types_alter().\n */\nfunction $1_date_format_types_alter(&\$types) {\n  foreach (\$types as \$type_name => \$type) {\n    /*\n     *\$types[\$type_name][\'locked\'] = 1;\n     */\n    \$types[\$type_name][\'${1}\'] = ${2};\n  }\n}'