'.text.drupal':
  'hook_html_head_alter':
    'prefix': 'hook_html_head_alter'
    'body': '/**\n * Implements hook_html_head_alter().\n */\nfunction $1_html_head_alter(&\$head_elements) {\n  foreach (\$head_elements as \$key => \$element) {\n    /*\n     *if (isset(\$element[\'#attributes\'][\'rel\']) && \$element[\'#attributes\'][\'rel\'] == \'canonical\') {\n     *  // I want a custom canonical url.\n     *  \$head_elements[\$key][\'#attributes\'][\'href\'] = mymodule_canonical_url();\n     *}\n     */\n     ${1:/* Your code here */}\n  }\n}'