'.text.drupal':
  'hook_field_attach_insert':
    'prefix': 'hook_field_attach_insert'
    'body': '/**\n * Implements hook_field_attach_insert().\n */\nfunction $1_field_attach_insert(\$entity_type, \$entity) {\n  ${1:/* Your code here */}\n}'